@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
#perfil {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100px;
	height: min-content;
	z-index: 1;
	text-align: center;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
:root {
	font-size: 62.5%;
	font-family: "Roboto", sans-serif;
	--platform-aliases-texto-base:  #C4C4CC;
	--neutral-colors-white: #fff;
	--platform-aliases-ttulos: #E1E1E6;
}

body {
	font-size: 1.6rem;
	background: var(--bg-body);
	width: 100vw;
	height: 100vh;
}

.menu{
	display: flex;
width: max-content;

padding: 4rem 0 4rem 7.2rem;
align-items: center;
gap: 3.2rem;

}
.menu a{	
	color: var(--platform-aliases-texto-base);
	font-family: Roboto;
	font-size: 2.4rem;
	font-style: normal;
	font-weight: 700;
	line-height: 2.2rem;
	text-decoration: none;
}

.bg-image{
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: -1;
	object-fit: cover;
}
h1, h2{
	color: var(--platform-aliases-ttulos);
	font-family: Roboto;
	font-size: 4.8rem;
	font-style: normal;
	font-weight: 700;
	line-height: 125%;
}
p{
	color: var(--platform-aliases-ttulos);
font-family: Roboto;
font-size: 1.8rem;
font-style: normal;
font-weight: 400;
line-height: 160%; 
width: 64.8rem;
}
.btn{
	display: inline-flex;
	padding: 1.2rem 3.2rem;
	justify-content: center;
	align-items: center;
	gap: 0.8rem;
	border-radius: 0.5rem;
	border: 2px solid #FFF;
	color: #fff;
	background: transparent;

	
font-family: Roboto;
font-size: 1.4rem;
font-weight: 700;
line-height: 2.4rem;
text-transform: uppercase;
text-decoration: none;
}
.btn:hover{
	border-radius: 0.5rem;
border: 2px solid #FFF;
background: #FFF;
color: rgba(2, 121, 157, 1);
}

main{
 padding-left: 10rem;
 padding-top: 6.3rem;
}
.flex{
	display: flex;
	height: 70vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap:2.4rem;
}

